.main-button a
  text-decoration underline
.center
  text-align center
.big
  font-size large
.i
  font-style italic
.b
  font-weight bold
h1,p
  margin 0 0 20px 0
img
  border 1px solid
.img-container
  display flex
  flex-wrap wrap
  justify-content center
li
  margin 0 0 0 20px

scale-img()
  border 2px solid green
  width 90%
  height 90%
  margin 10px 0 0 15px


.img1 img:hover
  scale-img()

.img2 img:hover
  scale-img()

.img3 img:hover
  scale-img()

.img4 img:hover
  scale-img()

.img5 img:hover
  scale-img()

.img6 img:hover
  scale-img()

.img7 img:hover
  scale-img()

.img8 img:hover
  scale-img()

.img9 img:hover
  scale-img()

.img10 img:hover
  scale-img()