extends template
block link
    link(rel="stylesheet", href="css/list.css")
block content
    h1.center.big.b.i Связный список
    p.center
        img.list-img(src="img/listBig.png" alt="list")
    p.center.big.b Связный список</b> является одной из самых основных структур данных. Его часто сравнивают с массивом,#[br] поскольку многие другие структуры данных могут быть реализованы либо с помощью массива, либо с помощью связного списка.<br> У каждого из них есть свои преимущества и недостатки.
    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Связный список состоит из группы узлов, которые вместе представляют последовательность. Каждый узел содержит две вещи:
    ol
        li Фактические данные, которые хранятся (которые могут быть представлены любым типом данных)
        li Указатель (или ссылка) на следующий узел в последовательности.
    br
    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Существуют также дважды связанные списки, в которых каждый узел имеет указатель и на следующий, и на предыдущий элемент в списке.#[br] Самые основные операции в связанном списке включают добавление элемента в список, удаление элемента из списка и поиск в списке для элемента.
